@charset "UTF-8"

//- WEBSITE FONTS
//==========================================================================
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600&display=swap')

=font-lexend
  font-family: "Lexend", sans-serif

body
  +font-lexend
  +rem(font-size, 14px)

  font-weight: 400
  line-height: 1.2
