.header
  background: $black-russian

  &__container
    max-width: 1110px
    margin: 0 auto
    padding: 56px 15px 45px 15px
    +max($bp-md)
      padding: 30px 15px 65px 15px

  &__box
    display: flex
    justify-content: space-between
    align-items: center
