.news 
  display: block 
  
  &__container 
    +container 
    padding-bottom: 15px
    border-bottom: 1px solid rgba(0, 0, 0, 0.12)

  &__tag
    font-weight: 600
    font-size: 12px
    line-height: 1.3
    text-align: center
    letter-spacing: 0.1em
    text-transform: uppercase
    color: $binaryBlue
    padding-bottom: 12px

  &__title 
    font-weight: 400
    font-size: 40px
    line-height: 1.3
    text-align: center
    color: $black-russian
    padding-bottom: 43px

    +max($bp-md)
      font-size: 28px
      padding-bottom: 25px

  &__grid 
    display: grid 
    grid-template-columns: 1fr 1fr 1fr
    gap: 64px 
    padding-bottom: 85px

    +max($bp-md)
      grid-template-columns: 1fr 1fr 
      gap: 40px 
      padding-bottom: 35px

    +max($bp-xs)
      grid-template-columns: 100%

    &:empty
      padding: 0

    
  .customButton
    display: block 
    max-width: max-content
    margin: 0 auto
    margin-bottom: 50px 

    +max($bp-md)
      margin-bottom: 30px

    &:hover 
      background-color: $blue
 
  &__itemImage
    display: block 
    max-width: 100%
    min-width: 100%
    margin: 0 auto 30px auto
    height: 176px
    object-fit: cover

    +max($bp-xs)
      height: auto
      margin-left: 0

  &__itemTitle 
    font-weight: 400
    font-size: 22px
    line-height: 1.4
    color: $black-russian
    padding-bottom: 16px

    +max($bp-md)
      font-size: 18px
      padding-bottom: 8px

  &__itemText 
    font-weight: 400
    font-size: 14px
    line-height: 1.6
    color: $black-russian-opacity
    padding-bottom: 44px
    letter-spacing: -0.1px

    +max($bp-md)
      padding-bottom: 20px

  &__itemLink
    display: flex 
    align-items: center 
    max-width: max-content
    font-weight: 400
    font-size: 14px
    line-height: 1.6
    color: $black-russian
    text-decoration: none 
    transition: all 0.2s linear

    &:hover 
      color: $black-russian-opacity
      text-decoration: none 

      &:after 
        margin-left: 14px

    &:after 
      display: block
      content: url('../images/arrowRight.svg')
      margin-left: 10px
      transition: all 0.2s linear
  
  &.-black 
    background-color: $black-russian
    background-image: url('../images/bg-news-squares.svg')
    background-position: bottom center
    background-repeat: no-repeat

    +max($bp-md)
      background: $black-russian
      padding: 50px 0px 15px 0px

    .news__container 
      padding-top: 100px 
      padding-bottom: 30px 

      +max($bp-md)
        padding-top: 50px

      &:empty
        padding: 0

    .news__tag 
      color: $green
    
    .news__title 
      color: $white
      
    .news__itemTitle 
      color: $white
    
    .news__itemText
      color: $whiteOpacity

    .news__itemLink
      color: $white

      &:after 
        content: url('../images/arrowRightWhite.svg')

      &:hover 
        color: $whiteOpacity