.contactMain
  display: block
  width: 100%
  background-color: $black-russian
  background-image: url('../images/bg-contact.svg')
  background-repeat: no-repeat
  background-position: top center

  +max($bp-md)
    background: $black-russian

  &__container
    display: block
    width: 100%
    max-width: 1108px
    margin: 0 auto
    padding: 120px 20px 408px
    +max($bp-md)
      padding-bottom: 50px
      padding-top: 60px

  &__tag
    font-weight: 400
    font-size: 12px
    line-height: 1.1
    text-transform: uppercase
    color: $green
    padding-bottom: 24px

  &__title
    font-weight: 400
    font-size: 40px
    line-height: 1.3
    color: $white
    padding-bottom: 24px
    max-width: 925px
    +max($bp-md)
      font-size: 24px

    a 
      color: $green
      text-decoration: none 
      border-bottom: 1px solid $green

      &:hover 
        color: $green
        text-decoration: none
        border-bottom: none

