.contactPage
  margin-bottom: 60px

  +max($bp-md)
    margin-bottom: 0

  &__formContainer
    max-width: 1440px
    margin: 0 auto

    .contactForm
      margin-top: -340px

      +max($bp-md)
        margin-top: 0
