.leadershipItem 
  img.leadershipItem__image(src="assets/images/leadership-thorsten.png" alt="Thorsten Behrens, Advisor")
  .leadershipItem__textBox 
    .leadershipItem__title Thorsten Behrens, Advisor
    .leadershipItem__text 
      p Thorsten is an Advisor to Binary Frontier and is responsible for the technical research and deal origination of new blockchain infrastructure investment opportunities.
      p Thorsten is the founder and CEO of Cryptomanufaktur, a node operating service in the digital asset ecosystem. He brings 20+ years of experience across the cryptography, smart contract, network security, and data structure fields.
      p His deep technical knowledge of blockchain infrastructure plays a pivotal role in the investment due diligence process.