.leadershipItem 
  img.leadershipItem__image(src="assets/images/leadership-matt.png" alt="Matt de Klerk, Director - Digital Assets")
  .leadershipItem__textBox 
    .leadershipItem__title Matt de Klerk, Director - Digital Assets
    .leadershipItem__text 
      p Matt serves as the Director of Digital Assets at Binary Frontier, where he is responsible for fundraising and deployment of the firm’s Digital Asset Fund.
      p Prior to joining Binary Frontier, Matt spent over 8 years working in various private equity firms across both South Africa and the USA, most recently for Peachtree Hotel Group helping deploy a $500m distressed opportunity fund.
      p Having developed a proven track record across the traditional private equity landscape, Matt brings a combination of asset management, due diligence and capital raising skills to Binary Frontier.