.leadershipItem 
  img.leadershipItem__image(src="assets/images/leadership-anna.png" alt="Anna Lindgren, Co-Founder")
  .leadershipItem__textBox 
    .leadershipItem__title Anna Lindgren, Co-Founder
    .leadershipItem__text 
      p Anna is involved in all business strategy and material decisions for Binary Frontier.  Her primary responsibilities include continual oversight and leadership as it relates to the operations and growth of the company.
      p Anna is the president of Codesigned, an enterprise technology solutions company.  She brings 17+ years of experience and a proven record in strategic operations management and enterprise digital transformations.  
      p Anna is a self-proclaimed nerd with a true passion for utilizing blockchain technology to make a positive impact around the world.  