.leadershipItem 
  img.leadershipItem__image(src="assets/images/leadership-jake.png" alt="Jake Weaver, CEO")
  .leadershipItem__textBox 
    .leadershipItem__title Jake Weaver, CEO
    .leadershipItem__text 
      p Jake is the CEO of Binary Frontier, having founded the firm in late 2017. He is involved in all aspects of the company, including the digital asset fund, the crypto charity and all early-stage venture capital investments.
      p After consulting for enterprise clients at Accenture for 8 years,  Jake founded his own software development company, Codesigned, which he successfully ran for over a decade before moving into the digital asset space.
      p Jake first became aware of Bitcoin and other associated digital assets in 2013.  He then established one of the largest Bitcoin miners in the Atlanta area prior to the 2017 crypto market correction.
