.leadershipItem 
  display: flex 
  align-items: flex-start 
  justify-content: space-between
  border: 1px solid $borderColor

  +max($bp-md)
    flex-direction: column
    align-items: center
    border: 0
    border-bottom: 1px solid $borderColor

  &__image 
    display: block 
    max-width: 100% 
  
  &__textBox 
    padding: 56px

    +max($bp-md)
      padding: 25px

  &__title
    font-weight: 400
    font-size: 24px
    line-height: 1.3
    padding-bottom: 24px
    color: $black-russian

    +max($bp-md)
      font-size: 18px
      padding-bottom: 16px

  &__text
    font-weight: 400
    font-size: 14px
    line-height: 1.6
    color: $black-russian-opacity


    p 
      padding-bottom: 24px

      +max($bp-md)
        padding-bottom: 16px

      &:last-child
        padding-bottom: 0px
        
    
