.customButton
  display: block
  padding: 18px 32px
  color: $white
  font-weight: 600
  border: 1px solid rgba(255, 255, 255, 0.2)
  border-radius: 1px
  background-color: transparent
  text-decoration: none
  cursor: pointer
  text-transform: uppercase
  transition: all 0.2s linear

  &.-small
    padding: 14px 24px

  &:hover
    text-decoration: none
    color: $white
    background-color: $blueOpacity
    border: 1px solid $blueOpacity

  &.-blue
    background-color: $binaryBlue
    border: 1px solid $binaryBlue

    &:hover
      background-color: $blueOpacity
      border: 1px solid $blueOpacity
  
  &.-blueGhost
    border: 1px solid $binaryBlue
