.popupContact
  display: none
  position: fixed
  top: 0
  bottom: 0
  left: 0
  right: 0
  z-index: -1
  visibility: hidden
  opacity: 0
  transition: all 0.3s linear
  overflow-y: auto
  background: $white

  &.-open 
    visibility: visible
    opacity: 1
    z-index: 100

  &__close 
    position: absolute
    top: 60px
    right: calc((100% - 1086px) /2)
    cursor: pointer
    transition: all 0.2s linear

    &:hover 
      transform: scale(1.1)
      

    +max($bp-xlg)
      right: 30px
      top: 30px