.aboutUs(data-section)
  .aboutUs__bgContainer
    .aboutUs__bg
  .aboutUs__container
    .aboutUs__photoContainer
      img(src="./assets/images/jake.png", alt="Jake")
    .aboutUs__textBox
      .aboutUs__tag ABOUT US
      .aboutUs__name Jake Weaver
      .aboutUs__nickname (Oxbekin)
    .aboutUs__accomplishments
      .aboutUs__acc
        .aboutUs__accImage
          img(src="./assets/images/logo-accenture.svg", alt="Accenture")
        .aboutUs__accText At 21 years old recruited by Accenture to work System Analyst ant Technical Consultant on Sprints pioneering work in 3G. Worked for big tech consulting for 8 years.
      .aboutUs__acc
        .aboutUs__accImage
          img(src="./assets/images/logo-codesigned.svg", alt="Codesigned")
        .aboutUs__accText Founded Codesigned in 2010. Enterprise Intranet company. Twice on Inc 5000 fattest growing companies in America, Inc Hire Power Awards, and Excalibur Winner. Acquired 2021.
      .aboutUs__acc
        .aboutUs__accImage
          img(src="./assets/images/logo-binary-mine.svg", alt="Binary Mine")
        .aboutUs__accText Founded and operated first large-scale Bitcoin mining operation in Atlanta.
      .aboutUs__acc
        .aboutUs__accImage
          img(src="./assets/images/logo-crypto-manufaktur.svg", alt="Crypto Manufaktur")
        .aboutUs__accText Co-Founded Crypto Manufaktur to focus on key public blockchain infrastructure.
