.aboutUs
  display: block
  width: 100%
  margin-bottom: 30px
  position: relative

  &__bgContainer
    position: absolute
    top: 0
    left: 0
    right: 0
    width: 100%
    height: 100%
    max-height: 342px
    z-index: -1
    background-color: $black-russian
    +max($bp-sm)
      max-height: 280px
    +max($bp-xxs)
      max-height: 440px

  &__bg
    max-width: 1440px
    height: 100%
    margin: 0 auto
    background-image: url('../images/bg-about-us.svg')
    background-repeat: no-repeat
    background-size: 100% 100%

  &__container
    display: grid
    column-gap: 127px
    row-gap: 180px
    width: 100%
    max-width: 1115px
    margin: 0 auto
    padding: 0 20px
    +max($bp-xlg)
      column-gap: 80px
      row-gap: 200px
    +max($bp-lg)
      column-gap: 40px
    +max($bp-md)
      row-gap: 100px
    +max($bp-sm)
      column-gap: 20px
    +max($bp-xxs)
      grid-template-columns: 1fr
      column-gap: 0
      row-gap: 20px

  &__photoContainer
    grid-column: 1/2
    grid-row: 1/3
    max-width: 420px
    +max($bp-md)
      grid-row: 1/2
      max-width: 300px
      margin: 0 auto
    +max($bp-xxs)
      max-width: 260px
      grid-row: 1/2
      padding-bottom: 80px

    img
      display: block
      width: 100%

  &__textBox
    grid-column: 2/3
    grid-row: 1/2
    display: flex
    flex-direction: column
    padding-top: 44px
    text-align: center
    +max($bp-xxs)
      grid-column: 1/2
      grid-row: 2/3
      padding-top: 0
      margin: 0 auto

  &__tag
    color: $green
    font-size: 12px
    font-weight: 400
    line-height: 1.1
    text-transform: uppercase
    padding-bottom: 24px
    +max($bp-xxs)
      color: $black-russian

  &__name
    color: $white
    font-size: 64px
    font-weight: 600
    line-height: 1.1
    +max($bp-xlg)
      font-size: 48px
    +max($bp-md)
      font-size: 38px
    +max($bp-sm)
      font-size: 32px
    +max($bp-xxs)
      font-size: 28px
      color: $black-russian

  &__nickname
    color: $white
    font-size: 64px
    line-height: 1.1
    +max($bp-xlg)
      font-size: 48px
    +max($bp-md)
      font-size: 38px
    +max($bp-sm)
      font-size: 32px
    +max($bp-xxs)
      font-size: 28px
      color: $black-russian

  &__accomplishments
    grid-column: 2/3
    grid-row: 2/3
    display: flex
    flex-direction: column
    align-self: flex-end
    +max($bp-md)
      grid-column: 1/3
      margin: 0 auto
    +max($bp-xxs)
      grid-row: 3/4

  &__acc
    display: flex
    align-content: flex-start
    margin-bottom: 40px
    +max($bp-xxs)
      flex-direction: column

    &:last-child
      margin-bottom: 0

  &__accImage
    width: 100%
    max-width: 148px
    margin-right: 44px
    +max($bp-sm)
      max-width: 100px
    +max($bp-xxs)
      margin-right: 0
      margin-bottom: 20px

    img
      display: block
      margin: 0 auto
      max-width: 100%

  &__accText
    color: $black-russian
    font-size: 15px
    font-weight: 400
    line-height: 1.5
    max-width: 332px
