form.contactForm#contactform(method='post')
  .contactForm__notification
  .contactForm__inputs
    .contactForm__left
      input.customInput(type="text" id="name" name="name" placeholder="Your Name" required)
      input.customInput(type="email" id="email" name="email" placeholder="Email" required)
      input.customInput(type="text" id="phone-number" name="phone-number" placeholder="Phone Number" required)
    .contactForm__right
      textarea.customInput(id="comment" name="comment" placeholder="Your Message" required)
  button.contactForm__submit.customButton.-blue.-small#button_send(type="submit") Send message
