.contactForm
  display: flex
  flex-direction: column
  position: relative
  padding: 80px 108px 80px 183px
  width: 100%
  max-width: 1257px
  background-image: url('../images/bg-form.svg')
  background-repeat: no-repeat
  background-size: cover
  +max($bp-lg)
    padding: 60px 100px 60px 120px
  +max($bp-md)
    padding: 40px 80px
  +max($bp-sm)
    padding: 30px 40px
  +max($bp-xxs)
    padding: 20px

  &__notification
    display: none
    position: absolute
    top: 0
    left: 50%
    transform: translate(-50%, -50%)
    padding: 10px 20px
    background-color: $white
    border: 1px solid $black
    font-size: 16px

    &.-error
      background-color: $errorBg
      border-color: $error

    &.-success
      background-color: $successBg
      border-color: $success

  &__inputs
    width: 100%
    display: grid
    grid-template-columns: 308fr 637fr
    gap: 24px
    margin-bottom: 24px
    +max($bp-md)
      grid-template-columns: 1fr

  &__left
    width: 100%
    display: grid
    grid-template-columns: 1fr
    gap: 24px

  &__right
    width: 100%

    textarea.customInput
      height: 198px
      +max($bp-md)
        height: 150px


  &__submit
    align-self: flex-end
    +max($bp-md)
      align-self: center
