.footer
  background-color: $white
  padding: 70px 0px

  +max($bp-md)
    padding: 40px 0px

  &__container 
    +container 
    display: flex
    align-items: center 
    justify-content: space-between 
    flex-wrap: wrap

    +max($bp-sm)
      flex-direction: column 

  &__logo 
    display: block
    img 
      display: block
      max-width: 100%

    +max($bp-sm)
      padding-bottom: 14px

  &__copyright 
    font-weight: 400
    font-size: 14px
    line-height: 1.7
    color: $black-russian
    padding: 0px 0px 0px 24px

    +max($bp-sm)
      padding-bottom: 14px
    
    b 
      font-weight: 500

  &__social 
    display: flex 
    align-items: center 
    flex-wrap: wrap

  &__item 
    display: flex 
    align-items: center 
    text-decoration: none 
    color: $black-russian
    padding-left: 24px
    transition: all 0.2s linear

    &:first-child
      padding-left: 0px

    &:hover 
      color: $black-russian
      text-decoration: none 

      .footer__itemCircle 
        background-color: $binaryBlue

  &__itemCircle 
    display: flex
    align-items: center 
    justify-content: center
    background-color: $black-russian
    border-radius: 50% 
    height: 36px 
    width: 36px
    margin-right: 8px
    transition: all 0.2s linear

    img 
      display: block
      max-width: 100%