.footer
  .footer__container 
    a.footer__logo(href=".")
      img(src="assets/images/footer-logo.svg" alt="")
    .footer__copyright Copyright © 2021 
      b Binary Frontier
    .footer__social 
      a.footer__item(href="https://www.linkedin.com/company/binary-frontier/" title="fallow us on Linkedin")
        .footer__itemCircle 
          img(src="assets/images/linkedin.svg" alt="")
        .footer__text Linkedin
      a.footer__item(href="https://twitter.com/BinaryFrontier" title="fallow us on Twitter")
        .footer__itemCircle 
          img(src="assets/images/twitter.svg" alt="")
        .footer__text Twitter