doctype html
html(lang="en")
  head
    title BinaryFrontier
    meta(charset='utf-8')
    meta(name='title', content='BinaryFrontier')
    meta(name='description', content='BinaryFrontier')
    meta(name='keywords', content='BinaryFrontier')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(rel="stylesheet", href="./assets/styles/main.min.css")
    link(rel='apple-touch-icon', sizes='72x72', href='./assets/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='./assets/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='./assets/favicon/favicon-16x16.png')
    link(rel='manifest', href='./assets/favicon/manifest.webmanifest')
    meta(name='msapplication-TileColor', content='#ffffff')
    meta(name='msapplication-TileImage', content='./assets/favicon/ms-icon-144x144.png')
    meta(name='theme-color', content='#ffffff')
    link(rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png")
    link(rel="mask-icon" href="./assets/favicon/safari-pinned-tab.svg" color="#5bbad5")


  body
    include ../popupContact/popupContact
    include ../header/header
    block content
    include ../footer/footer
    script(async, src='./assets/scripts/main.min.js')
