.customInput
  display: block
  padding: 16px 24px
  width: 100%
  color: $black-russian
  font-size: 14px
  font-weight: 400
  font-family: "Lexend"
  line-height: 1.2
  background-color: $white
  border-radius: 1px
  border: none
  resize: none
  outline: none

  &::placeholder
    color: $black-russian
