.menu
  .menu__burger
    img.menu__openIcon(src="./assets/images/burger-menu.svg")
  .menu__box
    .menu__top
      .menu__close
        img.menu__closeIcon(src="./assets/images/burger-menu-close.svg")
    ul.menu__list
      li.menu__item
        a.menu__link(href="." title="Home") Home
      li.menu__item
        a.menu__link(href="about-us.html" title="About us") About Us
      li.menu__item
        a.menu__link.-parent Offerings
        ul.menu__secondList
          li.menu__item
            a.menu__link(href="binary-funds.html" title="Binary Funds") Binary Funds
          li.menu__item
            a.menu__link(href="binary-foundation.html" title="Binary Foundation") Binary Foundation
          li.menu__item
            a.menu__link(href="binary-investments.html" title="Binary Foundation") Binary Investments
      li.menu__item
        <!--- a.menu__link(href="https://medium.com/@Binary_Frontier" title="Medium") Medium --->
        a.menu__link(href="medium.html" title="Medium") Medium
    .menu__button
      a.customButton.-small.-blueGhost.-openContact CONTACT US
