.menu
  display: flex
  align-items: center

  &__burger
    display: none
    background: none
    outline: none
    border: none
    max-width: 36px
    max-height: 36px
    width: 36px
    height: 36px
    +max($bp-md)
      display: flex
      justify-content: center
      align-items: center

    img
      width: 100%

  &__box
    display: flex
    align-items: center
    +max($bp-md)
      display: none
      padding: 30px 20px
      position: fixed
      top: 0
      bottom: 0
      left: 0
      right: 0
      z-index: 10
      background: $white
      overflow-y: auto

      &.-active
        display: flex
        flex-direction: column

  &__top
    display: none
    width: 100%
    margin-bottom: 30px
    +max($bp-md)
      display: flex
      justify-content: flex-end
      align-items: center

  &__close
    display: flex
    justify-content: center
    align-items: center
    max-width: 36px
    max-height: 36px
    width: 36px
    height: 36px
    padding: 10px
    background-color: $white
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1)
    border-radius: 4px

    img
      width: 100%

  &__list
    display: flex
    align-items: center

    +max($bp-md)
      flex-direction: column

  &__item
    display: flex
    position: relative
    flex-direction: column
    justify-content: center
    padding: 7px 0
    margin-right: 32px
    transition: all 0.2s linear
    +max($bp-md)
      padding: 10px 0
      margin-right: 0

    &:hover 
      .menu__secondList 
        z-index: 1
        opacity: 1
        +max($bp-md)
          height: auto

      .-parent:after 
        transform: rotate(-180deg)

      +max($bp-md)
        .menu__secondList 
          z-index: -1
          opacity: 0
          +max($bp-md)
            height: 0

        .-parent:after 
          transform: none
      
    &.-hover 
      .menu__secondList 
        z-index: 1
        opacity: 1
        +max($bp-md)
          height: auto

      .-parent:after 
        transform: rotate(-180deg)


    &:last-child
      margin-right: 40px
      +max($bp-md)
        padding-bottom: 20px
        margin-right: 0
        border-bottom: none

  &__link
    display: flex 
    justify-content: center
    color: $white
    font-size: 14px
    font-weight: 400
    line-height: 1.7
    padding: 13px 0
    border-bottom: 2px solid transparent
    text-decoration: none
    transition: all 0.2s linear
    cursor: pointer
    +max($bp-md)
      color: $black-russian
      font-size: 15px
      text-align: center


    &:hover
      color: $white
      text-decoration: none
      +max($bp-md)
        color: $black-russian

    &[href]:hover
      border-color: $green
      +max($bp-md)
        border-color: $green-dark

    &:focus
      color: $white
      text-decoration: none
      +max($bp-md)
        color: $black-russian

    &.-active
      border-color: $green
      +max($bp-md)
        border-color: $green-dark

    &.-parent
      &:after 
        display: block
        content: url('../images/arrowDownWhite.svg')
        margin-left: 10px
        transition: all 0.2s linear
        line-height: 1.3

        +max($bp-md)
          content: url('../images/arrowDownBlack.svg')

     

  .customButton 
    +max($bp-md)
      color: $black-russian

  &__secondList
    display: block
    position: absolute
    width: max-content
    text-align: left
    top: calc(100% - 4px)
    background-color: $white
    padding: 4px
    transition: all 0.2s linear
    z-index: -1
    opacity: 0
    overflow: hidden

    +max($bp-md)
      position: relative
      top: auto
      width: 100%
      height: 0

    .menu__item 
      justify-content: flex-start
      padding: 0
      margin: 0

      &:hover 
        background-color: $binaryBlue

        .menu__link 
          color: $white
          border-bottom: 1px solid transparent
    .menu__link
      display: block
      padding: 12px 16px
      color: $black-russian