.companyOverview
  display: block 
  width: 100% 
  padding: 0px 0px 100px 0px

  +max($bp-md)
    padding: 0px 0px 50px 0px


  &__container 
    +container

  &__tag 
    font-weight: 600
    font-size: 12px
    line-height: 1.3
    text-align: center
    letter-spacing: 0.1em
    text-transform: uppercase
    color: $binaryBlue
    padding-bottom: 12px

  &__title 
    font-weight: 400
    font-size: 40px
    line-height: 1.3
    text-align: center
    color: $black-russian
    padding-bottom: 50px

    +max($bp-md)
      font-size: 28px
      padding-bottom: 25px
    

  &__image 
    display: block
    max-width: 100%
    margin: 0 auto
    margin-bottom: 32px

  &__grid 
    display: grid 
    grid-template-columns: 1fr 1fr 1fr
    gap: 64px 

    +max($bp-md)
      grid-template-columns: 1fr 1fr 
      gap: 40px 

    +max($bp-xs)
      grid-template-columns: 100%

  &__item 
    display: block 
    text-align: center 

  &__itemCircle 
    display: flex
    align-items: center 
    justify-content: center
    background-color: $binaryBlue
    border-radius: 50% 
    height: 36px 
    width: 36px
    color: $white 
    font-size: 14px 
    font-weight: 600 
    margin: 0 auto 20px auto

    +max($bp-md)
      margin-bottom: 10px
  
  &__itemTitle 
    font-weight: 400
    font-size: 24px
    line-height: 1.3
    color: $black-russian
    padding-bottom: 16px

    +max($bp-md)
      font-size: 18px
      padding-bottom: 8px


  &__itemText 
    font-weight: 400
    font-size: 14px
    line-height: 1.6
    color: $black-russian-opacity
    padding-bottom: 28px

    +max($bp-md)
      padding-bottom: 10px

  &__itemLink
    display: flex 
    align-items: center 
    max-width: max-content
    margin: 0 auto
    font-weight: 400
    font-size: 14px
    line-height: 1.6
    color: $black-russian
    text-decoration: none 
    transition: all 0.2s linear

    &:hover 
      color: $black-russian-opacity
      text-decoration: none 

      &:after 
        margin-left: 14px
    &:after 
      display: block
      content: url('../images/arrowRight.svg')
      margin-left: 10px
      transition: all 0.2s linear
    
  
  