.companyOverview(data-section)
  .companyOverview__container 
    .companyOverview__tag Company Overview
    .companyOverview__title Binary Frontier
    img.companyOverview__image(src="assets/images/map.svg" alt="")
    .companyOverview__grid 
      .companyOverview__item 
        .companyOverview__itemCircle 1
        .companyOverview__itemTitle Binary Funds
        .companyOverview__itemText Providing investors with exposure to blockchain infrastructure via a closed-end, digital asset private equity fund.
        a.companyOverview__itemLink(href="binary-funds.html" title="Read more") Read more
      .companyOverview__item 
        .companyOverview__itemCircle 2
        .companyOverview__itemTitle Binary Foundation
        .companyOverview__itemText Utilizing crypto as a tool for teaching financial literacy to help underprivileged individuals generate and protect long term wealth.
        a.companyOverview__itemLink(href="binary-foundation.html" title="Read more") Read more
      .companyOverview__item 
        .companyOverview__itemCircle 3
        .companyOverview__itemTitle Binary Investments
        .companyOverview__itemText Investing in liquid digital asset tokens and providing early-stage venture capital to firms operating in the digital asset ecosystem.
        a.companyOverview__itemLink(href="binary-investments.html" title="Read more") Read more
      