.topPost
  display: block
  width: 100%
  background-color: $black-russian
  background-image: url('../images/bg-squares-2.svg')
  background-position: bottom center
  background-repeat: no-repeat
  margin-bottom: 100px
  padding-top: 45px
  padding-bottom: 50px

  +max($bp-md)
    background: $black-russian
    margin-bottom: 50px
    padding-top: 10px
    padding-bottom: 40px

  &__container 
    display: block
    width: 100%
    max-width: 700px
    margin: 0 auto
    padding: 0px 15px
  
    +max($bp-md)
      padding: 0 20px

    img 
      display: block 
      max-width: 100%
      margin: 0 auto 30px auto



  &__date
    display: flex
    align-items: center
    font-weight: 400
    font-size: 14px
    line-height: 1.1
    color: $white
    padding-bottom: 16px
    letter-spacing: 0.3px
    justify-content: center

    &:before 
      display: block 
      content: url('../images/clock.svg')
      margin-right: 8px
      max-width: 16px
  
  &__title 
    font-weight: 400
    font-size: 48px
    line-height: 1.3
    color: $white
    padding-bottom: 24px
    letter-spacing: 0.1px
    text-align: center

    +max($bp-md)
      font-size: 38px

    +max($bp-sm)
      font-size: 24px
  
  &__text 
    font-weight: 400
    font-size: 14px
    line-height: 2.0
    color: $whiteOpacity
    padding-bottom: 16px
    padding-right: 50px


    +max($bp-lg)
      padding-right: 30px
      padding-bottom: 30px
    
    +max($bp-xs)
      padding-bottom: 8px


  &__buttonPlace 
    display: flex
    align-items: center

    .customButton 
      margin-right: 32px

      &:last-child
        margin-right: 0


  &__linkMore
    display: flex 
    align-items: center 
    width: max-content
    font-weight: 400
    font-size: 14px
    line-height: 1.6
    color: $white
    text-decoration: none 
    transition: all 0.2s linear

    &:hover 
      color: $whiteOpacity
      text-decoration: none 

      &:after 
        margin-left: 14px

    &:after 
      display: block
      content: url('../images/arrowRightWhite.svg')
      margin-left: 10px
      transition: all 0.2s linear

    +max($bp-xs)
      margin-bottom: 30px

  &__right 
    display: block

  &__noPosts
    width: 100%
    font-weight: 400
    font-size: 24px
    line-height: 1.3
    color: $white
    padding: 20px 0px 50px 0px
    letter-spacing: 0.1px
    text-align: center

    a 
      display: block
      margin: 30px auto
      max-width: max-content
      font-size: 14px 

  &__box
    display: flex
    align-items: center
    width: 1000px
    max-width: 100%
    margin: 0 auto

    +max($bp-xs)
      flex-direction: column