.leadership 
  display: block 
  width: 100% 

  &__container 
    +container

  &__tag
    font-weight: 600
    font-size: 12px
    line-height: 1.3
    text-align: center
    letter-spacing: 0.1em
    text-transform: uppercase
    color: $binaryBlue
    padding-bottom: 12px

  &__title 
    font-weight: 400
    font-size: 40px
    line-height: 1.3
    text-align: center
    color: $black-russian
    padding-bottom: 57px

    +max($bp-md)
      font-size: 28px
      padding-bottom: 25px

  &__grid 
    display: grid 
    grid-template-columns: 100% 
    gap: 32px