.leadership 
  .leadership__container 
    .leadership__tag MEET US
    .leadership__title Leadership 
    .leadership__grid 
      include ../leadershipItem/leadershipItem-jake
      include ../leadershipItem/leadershipItem-anna
      include ../leadershipItem/leadershipItem-matt
      include ../leadershipItem/leadershipItem-thorsten