.mainContent.-offering(data-section)
  .mainContent__container
    .mainContent__left
      .mainContent__tag Offerings
      .mainContent__title Binary Funds
      .mainContent__text Binary Funds aims to bridge capital between the existing and crypto-native worlds, placing an emphasis on blockchain infrastructure investments in both early stage startups and liquid digital asset tokens.
      .mainContent__more 
        .mainContent__moreHeader
          .mainContent__moreTitle See also
          hr.mainContent__moreHr 
        .mainContent__items 
          a.mainContent__item(href="binary-foundation.html" title="Binary Foundation") Binary Foundation
          a.mainContent__item(href="binary-investments.html" title="Binary investments") Binary Investments
    .mainContent__right
      img(src="./assets/images/binary-funds-image.png" alt="")

