.mainContent.-offering(data-section)
  .mainContent__container
    .mainContent__left
      .mainContent__tag Offerings
      .mainContent__title Binary Foundation
      .mainContent__text Utilizing crypto as a tool for teaching financial literacy, the Foundation aims to utilize incentive-based learning principles to help underprivileged individuals generate and protect long term wealth.
      .mainContent__more 
        .mainContent__moreHeader
          .mainContent__moreTitle See also
          hr.mainContent__moreHr 
        .mainContent__items 
          a.mainContent__item(href="binary-funds.html" title="Binary Funds") Binary Funds
          a.mainContent__item(href="binary-investments.html" title="Binary investments") Binary Investments
    .mainContent__right
      img(src="./assets/images/binary-foundation-image.png" alt="")

