.mainContent(data-section)
  .mainContent__container
    .mainContent__left
      .mainContent__tag WELCOME TO BINARY FRONTIER
      .mainContent__title Exploring our Digital Future
      .mainContent__text Binary Frontier is a digital assets management firm focused on driving blockchain adoption and promoting a more decentralized, trustless world.
      .mainContent__buttonPlace
        a.customButton.-blue(href="about-us.html" title="About us") ABOUT US
      .mainContent__scrollDown
        .mainContent__scrollCircle
          img(src="assets/images/arrowDown.svg" alt="")
        .mainContent__scrollText Scroll down 
    .mainContent__right
      img(src="./assets/images/hand.png" alt="")

