.mainContent.-offering(data-section)
  .mainContent__container
    .mainContent__left
      .mainContent__tag Offerings
      .mainContent__title Binary Investments
      .mainContent__text Binary Investments allocates capital to early stage, blockchain-focused tech start ups on building and supporting the decentralized landscape.
      .mainContent__more 
        .mainContent__moreHeader
          .mainContent__moreTitle See also
          hr.mainContent__moreHr 
        .mainContent__items 
          a.mainContent__item(href="binary-funds.html" title="Binary Funds") Binary Funds
          a.mainContent__item(href="binary-foundation.html" title="Binary foundation") Binary Foundation
    .mainContent__right
      img(src="./assets/images/binary-investments-image.png" alt="")

