.mainContent(data-section)
  .mainContent__container
    .mainContent__left
      .mainContent__tag MEET US
      .mainContent__title About Us
      .mainContent__text.-without-padding-right Binary Frontier is a diversified digital asset management firm focused on driving global adoption of blockchain technology. Through it's offerings, the firm is focused on allocating capital toward blockchain technology and infrastructure investments in both early-stage venture projects and liquid digital asset tokens.
        br
        br
        | The firm’s current offerings include Binary Funds, Binary Investments and Binary Foundation, each of which allocate capital in a unique manner to different stakeholders with unique risk profiles and differing time horizons. 
    .mainContent__right
      img(src="./assets/images/bannerAbout.png" alt="")

