.mainContent 
  display: block
  width: 100%
  background-color: $black-russian
  background-image: url('../images/bg-squares.svg')
  background-position: bottom center
  background-repeat: no-repeat
  margin-bottom: 100px

  +max($bp-md)
    background: $black-russian
    margin-bottom: 50px

  &__container 
    display: flex
    align-items: center
    width: 100%
    max-width: 1110px
    margin: 0 auto
    padding: 0px 15px
  
    
    +max($bp-md)
      flex-direction: column
      padding: 0 20px

  &__left 
    display: block
    padding-right: 30px
    padding-bottom: 80px
    align-self: flex-end

    +max(1154)
      padding-right: 0px

    +max($bp-md)
      padding-bottom: 30px
    
    img 
      display: block

  &__tag
    font-weight: 600
    font-size: 12px
    line-height: 1.1
    text-transform: uppercase
    color: $green
    padding-bottom: 16px
    letter-spacing: 0.3px
  
  &__title 
    font-weight: 400
    font-size: 48px
    line-height: 1.3
    color: $white
    padding-bottom: 24px
    letter-spacing: 0.1px

    +max($bp-md)
      font-size: 38px

    +max($bp-sm)
      font-size: 24px
  
  &__text 
    font-weight: 400
    font-size: 14px
    line-height: 2.0
    color: $whiteOpacity
    padding-bottom: 48px
    padding-right: 40px

    &.-without-padding-right
      padding-right: 0
      padding-bottom: 68px

      +max($bp-lg)
        padding-bottom: 30px

    +max($bp-lg)
      padding-right: 0px
      padding-bottom: 30px

  &__buttonPlace 
    display: flex
    align-items: center
    padding-bottom: 88px

    +max($bp-md)
      padding-bottom: 38px

    +max($bp-xs)
      flex-direction: column
      align-items: stretch


    .customButton 
      margin-right: 8px

      +max($bp-xs)
        margin-right: 0
        text-align: center
        margin-bottom: 20px
    
    .customButton:last-child
      margin-right: 0

    
  &__scrollDown 
    display: flex 
    align-items: center
    cursor: pointer
    max-width: max-content

    &:hover
      .mainContent__scrollCircle
        background-color: $blueOpacity
      .mainContent__scrollText
        color: $whiteOpacity

  &__scrollCircle 
    display: flex
    align-items: center 
    justify-content: center
    background-color: $binaryBlue
    border-radius: 50% 
    height: 36px 
    width: 36px
    margin-right: 12px
    transition: all 0.2s linear

  &__scrollText
    font-weight: 400
    font-size: 14px
    line-height: 1.6
    color: $white
    transition: all 0.2s linear

  &__more 
    position: absolute
    top: 100%
    transform: translateY(-100%)
    padding-bottom: 68px

    +max($bp-md)
      position: static
      padding-bottom: 30px
      transform: none

  &__moreHeader 
    display: grid 
    grid-template-columns: 70px 1fr
    width: 100%
    gap: 50px
    align-items: end
    padding-bottom: 35px

  &__moreTitle 
    font-weight: 400
    font-size: 16px
    letter-spacing: 0.02em
    color: $white
    max-width: max-content

  &__moreHr 
    margin: 0
    width: 100%
    border: 0
    height: 1px 
    margin-bottom: 4px
    background-color:  rgba(255, 255, 255, 0.12)

  &__items 
    display: flex
    align-items: center
    flex-wrap: wrap

  &__item
    display: flex 
    align-items: center
    color: $white 
    text-decoration: none
    margin-right: 40px 
    margin-bottom: 8px

    &:last-child
      margin-right: 0

    &:hover
      color: $whiteOpacity 
      text-decoration: none

      &:before
        background-color: $binaryBlue

    &:before 
      display: flex
      align-items: center 
      justify-content: center
      border: 1px solid $binaryBlue
      border-radius: 50% 
      height: 36px 
      width: 36px
      transition: all 0.2s linear
      content: url('../images/checkmark.svg')
      margin-right: 12px



  &__right 
    display: block


    img 
      display: block
      +max($bp-md)
        max-width: 100%


  &.-offering 
    margin-bottom: 0 

    .mainContent__left 
      position: relative
      align-self: stretch
      padding-top: 73px

    .mainContent__text 
      padding-right: 0
     